// To change colors for this theme, look at all available variables in ../bower_components/ionic/scss/_variables.scss
/**
 * Some colors you can edit
 *
 * $light:                           #fff !default;
 * $stable:                          #f8f8f8 !default;
 * $positive:                        #387ef5 !default;
 * $calm:                            #11c1f3 !default;
 * $balanced:                        #33cd5f !default;
 * $energized:                       #ffc900 !default;
 * $assertive:                       #ef473a !default;
 * $royal:                           #886aea !default;
 * $dark:                            #444 !default;
 * play color: 6600FF
 */
// Defaults
$font-size-base:                18px;
$positive:                      #795548;
$light:                         #ffffff;
$button-positive-border:        #795548;
$stable:                        #388E3C;
$button-stable-border:          #388E3C;
$button-stable-text:            #ffffff;
$bar-stable-text:               #ffffff;
$bar-title-font-size:           26px;
$tabs-light-text:               #ffffff;
$dark:                          #795548; /* For the andriod platform */
