/**
 * Logo
 */
.logo-watermark {
    background: url(../images/logo-watermark.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 400px;
    margin: auto;
    z-index: 2;
    position: relative;
    top: 50px;
}

.call-to-action {
    width: 40%;
    margin: 65px auto 0px auto;
}
/**
 * Handle iPhone
 */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
  .logo-watermark {
    top: 0px;
  }

  .call-to-action {
    width: 60%;
    margin: 5px auto 0px auto;
  }
}

.pad-reference {
    position:relative;
}
.position-referece {
    position:relative;
    // width:0;
    height:0;
}

.passage-snippet {
    margin-bottom:12px;
}

.current-question {
    margin-bottom:12px;
}

.answer-input {
    margin-top:2px;
    resize:none;
    width:100%;
}

.question-question {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right:2em;
    white-space:normal;
}

.question-popover-button {
    position:absolute;
    top:-5px;
    right:0;
    color:#444;
    // float:right;
    // margin-top:-13px;
    // margin-bottom:-25px;
}

.question-modal-content {
    padding: 16px;
}

$question-answer-bg: #eee;

.question-scale-viewer {
    position:absolute;
    left:20px;
    right:16px;
    height:0;
}

.question-answer {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
  background-color:$question-answer-bg;
}
.question-answer-hidden {
  transition: 0.1s line-height linear;
  //color:$question-answer-bg;
  visibility: hidden;
}
.question-answer-hidden.ng-hide {
  line-height: 0;
}
.question-answer-hidden.ng-hide-add,
.question-answer-hidden.ng-hide-remove {
  display: block !important;
}

// ----- tab-passage -----

.passage-content {
    padding:16px;
    // font-size:1em;
    // line-height:1em;
}

.verse-number {
    font-weight:bold;
    color:#000;
}

// ---- verse select -----

$highlight-color: #FF0;
$x-padding: 0.25em;
$y-padding: 2px;
.highlight-verse {
    background-color: $highlight-color;
    box-shadow: $x-padding*-1 $y-padding    0 $highlight-color,
                $x-padding*-1 $y-padding*-1 0 $highlight-color,
                0             $y-padding    0 $highlight-color,
                0             $y-padding*-1 0 $highlight-color;
}

// ---- chapter select -----

.chapter-list {
  overflow:hidden;
  padding-top:0; padding-bottom:0;
}

.chapter-box {
  width:100%;
  height:auto;
  line-height:0;
  white-space:normal;
  overflow:hidden;
}

.chapter-title {
  // transition: 1.1s margin-bottom linear;
  // margin-bottom:0;
}

.chapter-item {
    color:#555;
    width:2em;
    height:2em;
    display:inline-block;
    font-weight:bolder;
    text-align:center;
    padding-top:1em;
    display:inline-block;
    text-decoration:none;
}

.chapter-box {
  font-size:1.75em;
  overflow:hidden;
}

.chapter-box.to-display {
  // padding-top:0.5em;
}

.chapter-box-abs {
  position:absolute;
  left:20px;
  right:16px;
  height:0;
}

.chapter-list-hidden {
  visibility: hidden;
}

.chapter-item-hiding {
  padding:0;
  background-color:#ddd;
  display:inline-block;
  float: left;
  width:2em;
  // height:1em;
  transition: all 0.25s linear;
}

.chapter-item-hiding {
  height:2em;
}

.chapter-item-hiding.ng-hide {
  height:0;
}

// --- history ---

.history-date {
  float:left;
  font-size:0.75em;
  font-color:#ddd;
}
.history-chapter {
  float:right;
}
.history-snippet {
  display:inline-block;
}