// Your application styles go here
/**
 * Logo
 */
.logo-watermark {
    background: url(../images/logo-watermark.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 400px;
    margin: auto;
    z-index: 2;
    position: relative;
    top: 50px;
}

.call-to-action {
    width: 40%;
    margin: 65px auto 0px auto;
}

.pad-reference {
	position:relative;
}
.position-referece {
	position:relative;
	// width:0;
	height:0;
}

.passage-snippet {
	margin-bottom:12px;
}

.current-question {
	margin-bottom:12px;
}

.answer-input {
	margin-top:2px;
	resize:none;
	width:100%;
}

.question-question {
	padding-top: 8px;
	padding-bottom: 8px;
}

.question-popover-button {
	float:right;
	margin-top:-13px;
	margin-bottom:-25px;
}

.question-modal-content {
	padding: 16px;
}

$question-answer-bg: #eee;

.question-scale-viewer {
	position:absolute;
	left:20px;
	right:16px;
	height:0;
}

.question-answer {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 20px;
  background-color:$question-answer-bg;
}
.question-answer-hidden {
  transition: 0.1s line-height linear;
  //color:$question-answer-bg;
  visibility: hidden;
}
.question-answer-hidden.ng-hide {
  line-height: 0;
}
.question-answer-hidden.ng-hide-add,
.question-answer-hidden.ng-hide-remove {
  display: block !important;
}