<?xml version='1.0' encoding='utf-8'?>
<widget id="com.missionaldigerati.ruminate" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ruminate</name>
    <description>
        Dig deeper into the Bible by ruminating on a piece of Scripture throughout the day.
    </description>
    <author email="c4k@missionaldigerati.org" href="http://missionaldigerati.org">
        Johnathan Pulos, Pierce Corcoran, and Phillip Zahir
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="~5.2.1" />
    <engine name="ios" spec="~4.2.0" />
</widget>
