<ion-view cache-view="false">
  <ion-nav-title>{{viewTitle}}</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button icon button-icon ion-plus" ng-click="selectPassage()" ng-show="rumination === null"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-show="rumination === null" class="ng-hide">
      <div class="logo-watermark"></div>
      </div>
      <div class="card" ng-show="rumination !== '' && rumination !== null" class="ng-hide">
        <div class="item item-divider item-dark">
          {{rumination.getTitle()}}
        </div>
        <div class="item item-text-wrap" ng-click="togglePassage()" ng-class="{active: passageShowing}">
          <p class="history-snippet" ng-hide="passageShowing">{{rumination.passage.snippet}}...</p>
          <p class="click-for-more-less" ng-hide="passageShowing">Click for More...</p>
          <p ng-show="passageShowing">
            <span class="verse" ng-repeat="verse in passage">
            <span class="verse-number">{{verse.number}}.</span>
            <span class="verse-content">{{verse.content}}</span>
          </span>
          </p>
          <p class="click-for-more-less" ng-show="passageShowing">Click for Less...</p>
        </div>
      </div>
      <div class="card" ng-repeat="response in rumination.responses">
        <div class="item item-divider item-calm item-text-wrap">
          {{response.question.content}}
        </div>
        <div class="item item-text-wrap" ng-click="openResponse(response)">
          <p>{{response.answer}}</p>
          <p class="click-for-more-less">Click for Answer...</p>
        </div>
      </div>
  </ion-content>
</ion-view>
