<ion-view view-title="Ruminate History">
  <ion-content class="padding">
     <ion-list>	 
	     <ion-item class="item item-icon-right item-text-wrap" ng-repeat="history in historyView" href="#/tab/reflection/{{history.objId}}">
	     	<div class="history-top">
	     		<span class="history-date">{{history.date}}</span>
	     		<span class="history-chapter">{{history.book}} {{history.chapter}}, {{history.start}}-{{history.end}}</span>
	     	</div>
	     	<span class="history-snippet">{{history.verse}}</span>
	     	<i class="icon ion-chevron-right icon-accessory"></i>
	     </ion-item>
	 </ion-list>
  </ion-content>
</ion-view>