<ion-view view-title="Ruminate Settings">
  <ion-content class="padding">
    <div class="list">

  	<label class="item item-input item-select">
		<div class="input-label">
		Frequency
		</div>
		<select>
		<option ng-repeat="minuteIncrement in minuteSelection" value="{{minuteIncrement.value}}">{{minuteIncrement.text}}</option>
		</select>

	</label>


	<label class="item item-input item-select">
		<div class="input-label">
		Sound
		</div>
		<select>
		<option>Cow</option>
		<option selected>Alarm</option>
		<option>Drum</option>
		<option>Guitar</option>
		</select>
	</label>


	 </div>
  </ion-content>
</ion-view>
