<ion-view view-title="Ruminate Settings">
  <ion-content class="padding">
    <div class="list">

	<!--<label class="item">
		<div class="input-label">
		Frequency
		</div>
    <label class="item-input-wrapper" style="margin-left:79%;max-width:5%">
      <input type="tel" placeholder="5" style="text-align:right;">
    </label>
		
	</label>-->
	
  <!--<div class="item item-button-right">
    Call Ma
    <button class="button button-positive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>-->
  
  	<label class="item item-input item-select">
		<div class="input-label">
		Frequency
		</div>
		<select>
		<option ng-repeat="minuteIncrement in minuteSelection" value="{{minuteIncrement.value}}">{{minuteIncrement.text}}</option>
		</select>

	</label>

	
	<label class="item item-input item-select">
		<div class="input-label">
		Sound
		</div>
		<select>
		<option>Cow</option>
		<option selected>Alarm</option>
		<option>Drum</option>
		<option>Guitar</option>
		</select>
	</label>


	 </div>
  </ion-content>
</ion-view>
