<ion-view view-title="{{bookName}} {{chapter}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="passage-content">
    <h3>{{rumination.getTitle()}}</h3>
    <p>
    	<span class="verse" ng-repeat="verse in verses">
    		<span class="verse-number">{{verse.number}}.</span>
    		<span class="verse-content">{{verse.content}}</span>
    	</span>
    </p>
  </ion-content>
</ion-view>
