<ion-view view-title="Ruminate" cache-view="false">

  <ion-nav-buttons side="secondary">
    <button class="button icon button-icon ion-plus" ng-click="selectPassage()"></button>
  </ion-nav-buttons>


  <ion-content>
    <div ng-hide="hasReflection" class="ng-hide">
      <div class="logo-watermark"></div>
      <div class="call-to-action">
        <button class="button button-positive button-block" ng-click="selectPassage()">Select a Passage</button>
      </div>
    </div>
    <ion-list class="list" ng-show="hasReflection" class="ng-hide">
      <ion-item class="item item-divider">
        {{passage.title}}
      </ion-item>
      <ion-item href="#/tab/home/passage/{{passage.recordId}}" class="item-text-wrap item-icon-right">
        <div class="history-top">
          <span class="history-date">{{passage.date}}</span>
          <span class="history-chapter"></span>
        </div>
        <span class="history-snippet">{{truncatedSnippet}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-divider item-text-wrap" ng-repeat-start="question in questions">
        {{question.question}}
      </ion-item>
      <ion-item class="item item-text-wrap item-icon-right" ng-repeat-end>
        <p><textarea class="answer-input msd-elastic" ng-model="question.answer" ng-keyup="updateNeedsSaving(question)" placeholder="Answer">{{question.answer}}</textarea></p>
        <ion-spinner ng-show="question.needsSaving" icon="spiral" class="icon"></ion-spinner>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
