<ion-view view-title="Ruminate" cache-view="false">

  <ion-nav-buttons side="secondary">
    <button class="button icon button-icon ion-plus" ng-click="selectPassage()" ng-show="rumination === null"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-show="rumination === null" class="ng-hide">
      <div class="logo-watermark"></div>
      <div class="call-to-action">
        <button ng-show="displaySelectButton" class="button button-positive button-block" ng-click="selectPassage()">Select a Passage</button>
      </div>
    </div>
    <ion-list class="list" ng-show="rumination !== '' && rumination !== null" class="ng-hide">
      <ion-item class="item item-divider">
        {{rumination.getTitle()}}
        <div class="item-note">{{rumination.createdAt | date:'MM/dd/yyyy'}}</div>
      </ion-item>
      <ion-item href="#/tab/home/passage/{{rumination.id}}" class="item-text-wrap item-icon-right">
        <p class="history-snippet">{{rumination.passage.snippet}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-divider item-text-wrap" ng-repeat-start="response in rumination.responses">
        {{response.question.content}}
      </ion-item>
      <ion-item class="item item-text-wrap item-icon-right" ng-repeat-end>
        <p><textarea class="answer-input msd-elastic" ng-model="response.answer" ng-keyup="updateNeedsSaving(response)" placeholder="Answer">{{response.answer}}</textarea></p>
        <ion-spinner ng-show="response.needsSaving" icon="spiral" class="icon"></ion-spinner>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
