<ion-view view-title="{{bookName}} {{chapter}}">

  <ion-nav-buttons side="secondary">
    <button class="button icon button-icon ion-checkmark" ng-click="updateOrCreateReflection()"></button>
  </ion-nav-buttons>

  <ion-content class="passage-content">
  	<span class="verse" ng-class="{'highlight-verse': isSelected(verse.number)}" ng-repeat="verse in verses" ng-click="handleClick(verse.number)">
  		<span class="verse-number">{{verse.number}}.</span>
  		<span class="verse-content">{{verse.content}}</span>
  	</span>
  </ion-content>

</ion-view>